.about{
    display: flex;
    width: 100%;
    height: 665px;
}

.profile{
    position: absolute;
    left: 190px;
    top: 140px;
    z-index: -1;
    width: 247px;
    height: 326px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.img_profile{
    position: absolute;
    width: 185px;
    height: 290px;
    border-radius: 200px;
    z-index: 1;
}

.description{
    position: absolute;
    left: 470px;
    top: 140px;
    color: #FFFFFF;
    width: 600px;
}

h1{
    font-family: 'Jacques Francois';
    font-style: normal;
    font-size: 40px;
    line-height: 97px;
}

.name{
    font-family: 'Great Vibes';
    font-style: normal;
    font-size: 70px;
    line-height: 97px;
}

h2{
    font-family: 'Jacques Francois';
}

p{
    font-family: 'Jacques Francois';
    font-size: 17px;
    line-height: 40px;
}

.btn_cv{
    background: #1A0B2E;
    padding: 10px 15px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Jacques Francois';
    font-size: 18px;
    margin-left: 50px;
}